Install pyarrow and pandas as follows:

!python -m pip install pyarrow

!python -m pip install pandas

In [1]:
import pandas as pd

# Series

## Create a pandas Series

In [2]:
ser = pd.Series(data=[60, 50, 40, 80, 70, 90, 100], index=['John', 'Jack', 'Mike', 'Tom', 'Phil', 'Bob', 'Mark'])

In [3]:
ser

John     60
Jack     50
Mike     40
Tom      80
Phil     70
Bob      90
Mark    100
dtype: int64

## Show all indecises of the pandas Series

In [4]:
ser.index

Index(['John', 'Jack', 'Mike', 'Tom', 'Phil', 'Bob', 'Mark'], dtype='object')

## Access an element by index

In [5]:
ser['Tom']

80

## Access multiple elements

In [6]:
ser[['Mike', 'Phil', 'Mark']]

Mike     40
Phil     70
Mark    100
dtype: int64

## Check if an index is in the Series

In [7]:
'Jack' in ser

True

In [8]:
'Chris' in ser

False

In [10]:
ser * 1.5

John     90.0
Jack     75.0
Mike     60.0
Tom     120.0
Phil    105.0
Bob     135.0
Mark    150.0
dtype: float64

In [11]:
ser ** 2

John     3600
Jack     2500
Mike     1600
Tom      6400
Phil     4900
Bob      8100
Mark    10000
dtype: int64

# DataFrame

## Create a DataFrame from a dictionary of pandas series

In [13]:
dict = {'Tom' : pd.Series([75., 70., 90.], index=['Math', 'Chemistry', 'Physics']),
     'Mike' : pd.Series([80., 65., 85., 90.], index=['Math', 'Reading', 'Science', 'Dance'])}

In [16]:
df = pd.DataFrame(dict)

In [17]:
df

            Tom  Mike
Chemistry  70.0   NaN
Dance       NaN  90.0
Math       75.0  80.0
Physics    90.0   NaN
Reading     NaN  65.0
Science     NaN  85.0